In [1]:
import pandas as pd

In [2]:
records = [("Daryl", "Guillot", "dguillot0@msn.com"),
           ("Page", "Gerleit", "pgerleit1@mozilla.com"),
           ("Haven", "Hache", "hhache2@latimes.com"),
          ]
columns=["first_name", "last_name", "email"]

In [6]:
# METHOD 1
df=pd.DataFrame(data=records,columns=columns)
df.head()

  first_name last_name                  email
0      Daryl   Guillot      dguillot0@msn.com
1       Page   Gerleit  pgerleit1@mozilla.com
2      Haven     Hache    hhache2@latimes.com

In [7]:
# METHOD 2
df2 = pd.DataFrame.from_records(data=records, columns=columns, exclude=['last_name'])
df2.head()

  first_name                  email
0      Daryl      dguillot0@msn.com
1       Page  pgerleit1@mozilla.com
2      Haven    hhache2@latimes.com