In [1]:
import pandas as pd

In [4]:
d = {
    'day': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25],
    'month': [12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12],
    'year': [2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021]
}

df = pd.DataFrame(data = d)

In [5]:
df.dtypes

day      int64
month    int64
year     int64
dtype: object

In [6]:
df.day.astype(str).str.zfill(2)

0     01
1     02
2     03
3     04
4     05
5     06
6     07
7     08
8     09
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
Name: day, dtype: object

In [7]:
df['calmonth'] = df.year.astype(str) + '-' + df.month.astype(str) + '-' + df.day.astype(str).str.zfill(2)

In [8]:
df.head()

   day  month  year    calmonth
0    1     12  2021  2021-12-01
1    2     12  2021  2021-12-02
2    3     12  2021  2021-12-03
3    4     12  2021  2021-12-04
4    5     12  2021  2021-12-05

In [9]:
df.dtypes

day          int64
month        int64
year         int64
calmonth    object
dtype: object