In [3]:
import pandas as pd

In [12]:
parquet_file = '/Users/darvikkunalbanda/DATA_ENGINEERING/python/data/parquet'

In [14]:
df = pd.read_parquet(parquet_file, engine='fastparquet')

In [15]:
df.head()

,registration_dttm,id,first_name,last_name,email,gender,ip_address,cc,country,birthdate,salary,title,comments
0,2016-02-03 07:55:29,1.0,Amanda,Jordan,ajordan0@com.com,Female,1.197.201.2,6759521864920116,Indonesia,3/8/1971,49756.53,Internal Auditor,1E+02
1,2016-02-03 17:04:03,2.0,Albert,Freeman,afreeman1@is.gd,Male,218.111.175.34,,Canada,1/16/1968,150280.17,Accountant IV,
2,2016-02-03 01:09:31,3.0,Evelyn,Morgan,emorgan2@altervista.org,Female,7.161.136.94,6767119071901597,Russia,2/1/1960,144972.51,Structural Engineer,
3,2016-02-03 00:36:21,4.0,Denise,Riley,driley3@gmpg.org,Female,140.35.109.83,3576031598965625,China,4/8/1997,90263.05,Senior Cost Accountant,
4,2016-02-03 05:05:31,5.0,Carlos,Burns,cburns4@miitbeian.gov.cn,,169.113.235.40,5602256255204850,South Africa,,NaN,,

In [19]:
df.sort_values('first_name',ascending=False)

,registration_dttm,id,first_name,last_name,email,gender,ip_address,cc,country,birthdate,salary,title,comments
1953,2016-02-03 00:38:41,954.0,Willie,Thomas,wthomasqh@earthlink.net,Male,173.219.113.26,3560763628353111,Mexico,5/31/1990,201325.44,Programmer Analyst I,
955,2016-02-03 15:15:14,956.0,Willie,Knight,wknightqj@newyorker.com,Male,85.87.35.41,30392894850853,South Africa,8/30/1955,141108.99,Software Consultant,
99,2016-02-03 15:49:55,100.0,Willie,Weaver,wweaver2r@google.de,Male,13.54.121.138,3534023246040472,Mexico,8/21/1970,175694.61,Dental Hygienist,̡͓̞ͅI̗̘̦͝n͇͇͙v̮̫ok̲̫̙͈i̖͙̭̹̠̞n̡̻̮̣̺g̲͈͙̭͙̬͎ ̰t...
634,2016-02-03 00:09:38,635.0,Willie,Dixon,wdixonhm@diigo.com,Male,27.245.227.220,,Japan,8/29/1992,265321.18,Senior Cost Accountant,
581,2016-02-03 03:26:08,582.0,Willie,Stone,wstoneg5@vistaprint.com,Male,207.24.94.75,6331103681280607,Indonesia,,146425.12,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2880,2016-02-03 00:21:37,881.0,,Collins,,Male,100.212.189.244,3531552235272517,South Korea,7/5/1981,72539.92,VP Sales,
1688,2016-02-03 23:48:25,689.0,,Edwards,,Female,68.161.12.60,3548341503523277,Indonesia,9/24/1991,226903.50,GIS Technical Architect,
1691,2016-02-03 19:29:50,692.0,,Lee,,Female,147.100.106.49,,Indonesia,4/11/1967,81092.05,Programmer III,사회과학원 어학연구소
1758,2016-02-03 21:37:12,759.0,,Burke,,Female,67.13.154.40,5602239741752377,Poland,,192482.01,,
1441,2016-02-03 16:24:44,442.0,,Crawford,,Male,53.75.28.248,4175000030933569,China,12/12/1987,252169.32,Recruiting Manager,